<div class="modal" id="logout-modal">
    <div class="modal-background" id="logout-background"></div>
    <div class="modal-content">
        <div class="box px-6 py-5">
            <p class="is-size-5">Leaving already? Are you sure you want to logout?</p>
            </br>
            <div class="field is-grouped">
                <p class="control">
                    <button class="button is-info" id="logout-confirm">Yeah</button>
                </p>
                <p class="control">
                    <button class="button is-danger" id="logout-cancel">Nah</button>
                </p>
            </div>
        </div>
    </div>
</div>