<div class="modal" id="new-post-modal">
    <div class="modal-background" id="new-post-background"></div>
    <div class="modal-content">
        <div class="box px-6 py-5">
            <form id="new-post-form">
                <p class="is-size-5">New Post:</p>
                </br>
                <div class="field">
                    <label class="label">Post Title:</label>
                    <div class="control">
                        <input type="text" id="new-title-input" class="input" placeholder="e.g. The brilliance of the alpha-tech creator, may not be so brilliant">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Post Content:</label>
                    <div class="control">
                        <textarea id="new-content-input" class="textarea" rows="3"></textarea>
                    </div>
                </div>
                <div class="field is-grouped">
                    <p class="control">
                        <button type="submit" class="button is-info">save</button>
                    </p>
                    <p class="control">
                        <button class="button is-danger" id="close-new-post-modal">cancel</button>
                    </p>
            </form>
            </div>
        </div>
    </div>
</div>